<div  style="width:100%;height:1500px;border:5px solid ; border-color:red;" >
    <h1>{{name}}</h1>
    <div class="col-md-6">
       
    </div>
    <div class="col-md-6">
        <ng-transclude></ng-transclude>
     </div>

</div>
