
<div  style="width:{{largeur}};height:{{hauteur}};background-color:{{color}};position:relative;border:5px solid; border-color:#000; ">
      <ng-transclude></ng-transclude>
    <div style="position:absolute;top:490px;height:10px;width:100%;background-color:#fff;" ng-if="tracer">
      
    </div>
</div>
