<div class="row">
    <form name="JoueurForm" class="col-md-3">

            <div class="form-group" >
                <label >Nom</label>
                <input type="text" name="nom" class="form-control" placeholder="nouveau joueur" ng-model="newPlayer.nom" required>
                <div class="alert alert-danger" role="alert" ng-if="JoueurForm.nom.$dirty && JoueurForm.nom.$error.required">Le Nom est obligatoir</div>
            </div>

            <div class="form-group" >
                <label for="exampleInputEmail1">Prenom</label>
                <input type="text"  name="prenom" class="form-control" placeholder="nouveau joueur" ng-model="newPlayer.prenom" required>
            </div>

            <div class="form-group">
            <label >Post</label>
            <select class="form-control"  name="post" ng-model="newPlayer.role" >
                <option ng-repeat="role in posts" value="{{role}}">{{role}}</option>
            </select>
            </div>
        
        <button class="btn btn-success" ng-click="addPlayer()" ng-disabled="!JoueurForm.$valid">Submit</button>

    </form>
</div>
    

<div class="alert alert-danger" role="alert" ng-if="error">{{error}}</div>