
<div class="form-group" >
    <label >Color</label>
    <input type="text" class="form-control"  ng-model="color" required>
</div>

<button class="btn btn-success" ng-click="changeColor();">
    Change Color
</button>

<complex name="Redmind-Hanae">
    <terrain-vert largeur="400px" hauteur="800px" tracer="true">
        <joueur nom="{{player.nom}}" width="100px" height="100px" color="blue" ng-repeat="player in equipe" ></joueur>
    </terrain-vert>
</complex>

